@using DemoFirstWebApplication.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Welcome to the Index View in the Product Controller class</h3>


<h1>List of Products</h1>





