
@{
    ViewBag.Title = "AdminHomePage";
}
@{
    if (Session["username"].ToString() != string.Empty && Session["username"] != null)
    {
        <h1> <span style="color:green;font-weight:bold">Hello @Session["username"]</span></h1>
    }
}
<h2>Welcome to Admin Homepage</h2>

