<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FacultyLayout</title>
</head>
<body style="background-color:peachpuff;color:darkblue">
    <table width="100%" height="100%" border="2" style="border-style:solid;border-color:green">
        <tr height="20%" style="align-content:center;text-align:center">
            <td colspan="2"><h1>Welcome to Faculty Portal</h1></td>
        </tr>
        <tr height="70%">
            <td width="30%">
                <a href="/Faculty/Home">Home</a><br />
                <a href="/Faculty/AddFaculty">Add Faculty</a><br />
                <a href="/Faculty/ModifyFaculty">Edit Faculty</a><br />
                <a href="/Faculty/DeleteFaculty">Delete Faculty</a><br />
                <a href="/Faculty/ViewFaculty">View Faculty</a><br />
                <a href="/Faculty/AllFaculties">View all Faculties</a><br />
                <a href="#">Logout</a>
            </td>
            <td height="70%">
                <div class="container body-content">
                    @RenderBody()
                </div>
            </td>
        </tr>
        <tr height="10%" style="align-content:center;text-align:center">
            <td colspan="2">&copy;copyright to Dotnet ELTPs(Vizag, Hyderabad)</td>
        </tr>
    </table>
</body>
</html>
